<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <main class="container">
      <div class="section-container block">
        <form class="form" method="post" action="/create">
          <h3>Create room</h3>
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" placeholder="Enter room name..." />
          </div>
          <div class="form-group">
            <label>Level</label>
            <div class="radio-group">
              <input
                type="radio"
                id="level1"
                name="levelIndex"
                value="0"
                checked
              />
              <label for="level1">Tanks #1</label>
            </div>
            <div class="radio-group">
              <input type="radio" id="level2" name="levelIndex" value="1" />
              <label for="level2">Tanks #2</label>
            </div>
            <div class="radio-group">
              <input type="radio" id="level3" name="levelIndex" value="2" />
              <label for="level3">Ships #1</label>
            </div>
            <div class="radio-group">
              <input type="radio" id="level4" name="levelIndex" value="3" />
              <label for="level4">Planes #1</label>
            </div>
          </div>
          <input type="submit" value="Create" />
        </form>
        <section class="list">
          <h3>Rooms</h3>
          <form method="post" action="/join">
            <ul>
              <% const roomArray = Object.entries(rooms); %> <% if
              (roomArray.length) { roomArray.forEach(([id, room]) => { %>
              <li>
                <% if (room.state.hasStarted) { %>
                <span class="closed"><%= room.name %></span> <% } else { %>
                <button
                  class="link"
                  type="submit"
                  name="roomId"
                  value="<%= id %>"
                >
                  <%= room.name %>
                </button>
                <% } %>
              </li>
              <% }); } else { %>No rooms<% } %>
            </ul>
          </form>
        </section>
      </div>
    </main>
  </body>
</html>
